<ion-header>
  <ion-toolbar>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container" style="padding: 10px;">
    <ion-list>
      <ion-item>
        This is page 2<br />
        value={{n}}
      </ion-item>
      <ion-item>
        <ion-label>
          First name:
        </ion-label>
        <ion-input type="text" [(ngModel)]="fname" placeholder="Enter your first name" (ngModelChange)="getName()">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          Last name:
        </ion-label>
        <ion-input type="text" [(ngModel)]="lname" placeholder="Enter your last name" (ngModelChange)="getName()">
        </ion-input>
      </ion-item>
      <ion-item>
        Your full name is {{this.fullName}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-button routerLink="/">
    <ion-icon name="home"></ion-icon>Back to home
  </ion-button>
  <ion-button routerLink="/page1">Back</ion-button>
</ion-footer>