<ion-header>
  <ion-toolbar>
    <ion-title color="warning">A new Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="padding:10px;">
    <ion-item-divider color="danger">Odd even checker</ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label>
          Enter a number:
        </ion-label>
        <ion-input type="number" [(ngModel)]="num" (ngModelChange)="checkOddEven()" placeholder="enter a number">
        </ion-input>
      </ion-item>
      <ion-item>
        <h3>Entered number is <h2>{{checkOddEven()}}</h2>
        </h3>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer color="success">
  <ion-button routerLink="/">
    <ion-icon name="home"></ion-icon> Back to home
  </ion-button>
  <ion-button routerLink="/page2">Go to page2<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button routerLink="/">Back</ion-button>
</ion-footer>