<ion-header>
  <ion-toolbar>
    <ion-title color="warning">A new Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    This is page 1
  </div>

</ion-content>

<ion-footer color="success">
  <ion-button routerLink="/">
    <ion-icon name="home"></ion-icon> Back to home
  </ion-button>
  <ion-button routerLink="/page2">Go to page2<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button routerLink="/">Back</ion-button>
</ion-footer>