<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="warning" style="color: red;">
      <ion-title size="large">
        <b>Registration Form</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <form>
      <ion-list>
        <ion-item>
          <ion-label class="label">User Name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" placeholder="Name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">Password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="password" placeholder="Password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-button color="success">Register</ion-button>
        </ion-item>
      </ion-list>
    </form>

    <form>
      <ion-list>
        <ion-item>
          <ion-label class="label" position="floating"> Num1: <ion-input type="text" [(ngModel)]="n1"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label" position="floating"> Num2: <ion-input type="text" [(ngModel)]="n2"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label">Sum is <span>{{sum}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-button (click)=addition()> Add </ion-button>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>

</ion-app>